body
{   
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

img
{
    position: fixed;
    transform: translate(46px, -71px);
    width: 400px;
    height: 461px;
}

#main
{   
    background-color:#232526 ;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    height: 600px;
    width: 600px;
    border: 1px solid aliceblue;
    transform: translate(742px, 2px);
    box-shadow: -1px -1px 8px 4px lightcyan;
}

.circle
{
 margin: 13.5px;
 width: 90px;
 height: 90px;
 border:1.5px solid black;
 background-color: lightcyan;
 border-radius: 50%;
 cursor: pointer; 
}

#colorPicker
{   background-color: #232526;
    position: fixed;
    height: 600px;
    width: 200px;
    border: 2px solid aliceblue;
    transform: translate(532px, 2px);
    box-shadow: -1px -1px 7px 3px lightcyan;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}


h1
{
font-size: 35px;
font-family: 'Orbitron', sans-serif;
text-align: center;
color: lightcyan;
}

#cdots
{   
    font-family: 'Orbitron', sans-serif;
    font-size: 65px;
    text-align: center;
    letter-spacing: 3px;
    color: lightcyan;
}

#name
{
    
    width: 515px;
    display: inline-block;
    position: fixed;
    height: 608px;
}

.square
{
    
    width: 30px;
    height: 30px;
    border: 1.5px solid;
    margin:10px;
    cursor: pointer; 
}
